MONGO_DATABASE_URL= # Адрес до бд например(mongodb://localhost/)
MONGO_DATABASE= # Имя БД
MONGO_INITDB_ROOT_USERNAME= # Имя пользователя
MONGO_INITDB_ROOT_PASSWORD= # Пароль пользователя

FRONTEND_PORT= # порт на котором будет запущен клиент
BACKEND_PORT= # порт на котором будет запущен сервер

PORT= # номер порта на котором будет запущен сервер
JWT_ACCESS_SECRET= # JWT access secret
JWT_REFRESH_SECRET= # JWT refresh secret
JWT_ACCESS_EXPIRES_IN= # Время до истечени access jwt
JWT_REFRESH_EXPIRES_IN= # Время до истечени refresh jwt