@import '@/assets/variables.scss';

/* Utils */
.card {
  background: var(--surface-card);
  border: 1px solid var(--surface-border);
  padding: 1rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--card-shadow);
  border-radius: $borderRadius;
}
